# Compiled source #
###################
*.dcu
*.ilc
*.ild
*.ilf
*.ils
*.lnk
*.obj
*.pdb
*.exe
*.bpl
*.bpi
*.dcp
*.rsm
*.stat
*.map
*.d
*.o
*.tds

# Generated source #
###################
*.hpp

# Backup files    #
###################
*.~*
__recovery

# IDE Files	  #
###################
*.@@@
*.dproj.local
*.groupproj.local
*.identcache
*.dsk
*.tvsconfig
*.twopts
*.otares
*.drc
*.rc
*.res
*.local
*.dsv
*.dpkg
*.delphilsp.json

# Output Folders  #
###################
/Win32
/Win64
/OSX32
/__history
*.bak
*.Patch
VirtualTreeView.zip
*.#00
*.pch
*.skincfg
*.a
Packages/RAD Studio XE3/VirtualTreesR.lib
*.lib

# Folder with repro projects #
##############################
/#*
Tests/dunitx-results.xml
Tests/TestInsightSettings.ini
